<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header">Iniciar Sesión</div>
      <div class="card-body">
        <form #signInForm="ngForm" (ngSubmit)="signIn(signInForm)">
          <div class="form-group">
            <input
              type="text"
              [(ngModel)]="signInService.contact.email"
              required
              placeholder="Email..."
              class="form-control"
              name="email"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              [(ngModel)]="signInService.contact.password"
              required
              placeholder="Contraseña..."
              class="form-control"
              name="password"
            />
          </div>
          <div class="d-grid mt-4">
            <button type="submit" class="btn btn-primary">Ingresar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
